@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap");

:root {
  --font-fam: "Inter", sans-serif;

  --primary-col-orange: hsl(35, 77%, 62%);
  --primary-col-red: hsl(5, 85%, 63%);

  --secondary-col-white: hsl(36, 100%, 99%);
  --secondary-col-blue: hsl(233, 8%, 79%);
  --secondary-col--grayblue: hsl(236, 13%, 42%);
  --secondary-col-darkblue: hsl(240, 100%, 5%);

  --mobile-size: 375px;
  --desktop-size: 1440px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
